body {
  margin: 0;
  background: black;
}

p {
  font-size: 60px;
  line-height: 60px;

  background-image: url("./image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
